.box-shadow{
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2)
    
}

.active{
    background-color: #f2ac29;
}
.link{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
}
.title_footer{
    text-align: center;
    font-size: 24px;
    color: #f2ac29;
    margin-bottom: 5px;
}